<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Geolocation</display-name>
  <welcome-file-list>
    <welcome-file>confmenu.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ConferenceServlet</display-name>
    <servlet-name>ConferenceServlet</servlet-name>
    <servlet-class>com.tcs.conferencing.controller.ConferenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConferenceServlet</servlet-name>
    <url-pattern>/ConferenceServlet</url-pattern>
  </servlet-mapping>
  
</web-app>