<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WebRTC_presentation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>start</servlet-name>
    <servlet-class>sessionmanagement.start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>start</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>login.userlogin.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginsession</servlet-name>
    <servlet-class>sessionmanagement.loginsession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginsession</servlet-name>
    <url-pattern>/loginsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>sessionmanagement.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facebooklogin</servlet-name>
    <servlet-class>oauth.facebook.facebooklogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facebooklogin</servlet-name>
    <url-pattern>/facebooklogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phonebook</servlet-name>
    <servlet-class>sessionmanagement.phonebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phonebook</servlet-name>
    <url-pattern>/phonebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phonebookLineServlet</servlet-name>
    <servlet-class>contacts.webrtc.phonebookLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phonebookLineServlet</servlet-name>
    <url-pattern>/phonebookLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phonebookServlet</servlet-name>
    <servlet-class>contacts.webrtc.phonebookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phonebookServlet</servlet-name>
    <url-pattern>/phonebookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>registrationdetails.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>forgotPasswordServlet</display-name>
    <servlet-name>forgotPasswordServlet</servlet-name>
    <servlet-class>login.userlogin.forgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPasswordServlet</servlet-name>
    <url-pattern>/forgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.tcs.webrtc.uploadmodule.controller.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SubscribeServlet</display-name>
    <servlet-name>SubscribeServlet</servlet-name>
    <servlet-class>SubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeServlet</servlet-name>
    <url-pattern>/SubscribeServlet</url-pattern>
  </servlet-mapping>

    <servlet>
    <display-name>PresenceServlet</display-name>
    <servlet-name>PresenceServlet</servlet-name>
    <servlet-class>PresenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PresenceServlet</servlet-name>
    <url-pattern>/PresenceServlet</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <display-name>CreateUserServlet1</display-name>
    <servlet-name>CreateUserServlet1</servlet-name>
    <servlet-class>phonebook.webrtc.CreateUserServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet1</servlet-name>
    <url-pattern>/CreateUserServlet1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>FriendListController</display-name>
    <servlet-name>FriendListController</servlet-name>
    <servlet-class>friendList.webrtc.FriendListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendListController</servlet-name>
    <url-pattern>/FriendListController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>deleteAccountServlet</display-name>
    <servlet-name>deleteAccountServlet</servlet-name>
    <servlet-class>login.userlogin.deleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAccountServlet</servlet-name>
    <url-pattern>/deleteAccountServlet</url-pattern>
  </servlet-mapping>
  
</web-app>