fieldset
{
border: 1px solid lightgray;
width:50%;
background-color: white;

}

fieldset legend{
	font-size: 18px;
	font-family: sans-serif;
	text-shadow: none;
	font-weight: bold;
}

#videoRecording
{
	margin-left: 200px;
	margin-top: 100px;
	text-align: center;
	
}
.text-field {
height: 37px;
margin: 0;
padding: 5px;
border: 1px solid #dcdcdc;
font-family: "Source Sans Pro",Arial,sans-serif;
font-size: 16px;
font-weight: 500;
box-sizing: border-box;
outline-color: highlight;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden;height: 25px }
.autocomplete-selected { background:#1787F7;}
.autocomplete-suggestions strong { font-weight: bold; color: #fdb813; }