<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>UserProfile</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>JobSeekersController</display-name>
    <servlet-name>JobSeekersController</servlet-name>
    <servlet-class>com.tcs.webrtc.JobSeekersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSeekersController</servlet-name>
    <url-pattern>/JobSeekersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PersonalInfoController</display-name>
    <servlet-name>PersonalInfoController</servlet-name>
    <servlet-class>com.tcs.webrtc.PersonalInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfoController</servlet-name>
    <url-pattern>/PersonalInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfessionalsController</display-name>
    <servlet-name>ProfessionalsController</servlet-name>
    <servlet-class>com.tcs.webrtc.ProfessionalsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessionalsController</servlet-name>
    <url-pattern>/ProfessionalsController</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>StudentsController</display-name>
    <servlet-name>StudentsController</servlet-name>
    <servlet-class>com.tcs.webrtc.StudentsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsController</servlet-name>
    <url-pattern>/StudentsController</url-pattern>
  </servlet-mapping>
</web-app>