.g_icon{
}
.smile{
	height:14px;
	width:14px;
	background: url("../images/smile1.png") repeat scroll 0 14px transparent;
}
.grin{
	height:14px;
	width:14px;
	background: url("../images/grin1.png") repeat scroll 0 14px transparent;
}
.wink{
	height:14px;
	width:14px;
	background: url("../images/wink1.png") repeat scroll 0 14px transparent;
}
.cry{
	height:14px;
	width:14px;
	background: url("../images/cry1.png") repeat scroll 0 14px transparent;
}
.shocked{
	height:14px;
	width:14px;
	background: url("../images/shocked1.png") repeat scroll 0 14px transparent;
}
.slant{
	height:14px;
	width:14px;
	background: url("../images/slant1.png") repeat scroll 0 14px transparent;
}
.angry{
	height:14px;
	width:14px;
	background: url("../images/angry1.png") repeat scroll 0 14px transparent;
}
.frown{
	height:14px;
	width:14px;
	background: url("../images/frown1.png") repeat scroll 0 14px transparent;
}
.cool{
	height:14px;
	width:14px;
	background: url("../images/cool1.png") repeat scroll 0 14px transparent;
}
.tongue{
	height:14px;
	width:14px;
	background: url("../images/tongue1.png") repeat scroll 0 14px transparent;
}
.heart{
	height:14px;
	width:14px;
	background: url("../images/heart1.png") repeat scroll 0 14px transparent;
}
.straight_face{
	height:14px;
	width:14px;
	background: url("../images/straight_face1.png") repeat scroll 0 14px transparent;
}
